<h2>Help & Support</h2>

<p>Welcome to the help section. Here you can find answers to common questions:</p>

<ul>
    <li>How to login?</li>
    <li>How to change password?</li>
    <li>How to update profile?</li>
    <li>Contact support at: support@yourcompany.com</li>
</ul>
