@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

<div class="container" style="max-width: 500px; margin-top: 50px;">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">@ViewBag.Error</div>
    }

    <form method="post" asp-action="ResetPassword">
        <!-- Email Field -->
        <div class="form-group mb-3">
            <label>Email</label>
            <input type="email" name="Email" class="form-control" required value="@ViewBag.Email"  />
        </div>

        <!-- New Password -->
        <div class="form-group mb-3">
            <label>New Password</label>
            <input type="password" name="NewPassword" class="form-control" required />
        </div>

        <!-- Confirm Password -->
        <div class="form-group mb-3">
            <label>Confirm Password</label>
            <input type="password" name="ConfirmPassword" class="form-control" required />
        </div>

        <!-- Submit -->
        <div class="text-center">
            <button type="submit" class="btn btn-success">Reset Password</button>
        </div>
    </form>
</div>
